body {
  background-color: #545253;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
}

.container {
  padding: 30px;
  max-width: 500px;
  margin: 40px auto;
  border-radius: 10px;
  background-color: #191718;
}

.search-form-input {
  width: 76%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 10px;
  border-radius: 5px;
  margin-right: 8px;
  background-color: #aaa8a9;
}

.search-form-button {
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px 16px;
  background-color: #7f7d7e;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #545253;
}

.main {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.25fr;
}

.city,
.date,
.current-temp,
.temp-description {
  color: #d3d3d3;
  text-align: center;
}

.date,
.current-temp,
.temp-description {
  margin: 10px;
}

.icon {
  display: block;
  margin: 6px auto;
}

.current-temp {
  font-size: 40px;
}

.bottom-part {
  color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #545253;
  border-bottom: 2px solid #545253;
}

.bottom-part p {
  text-align: center;
}

p span {
  font-weight: bold;
}

#weekly-forecast {
  color: #d3d3d3;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px 0;
  background-color: #2a2627;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.day-icon {
  width: 40px;
  display: block;
  margin: 0 auto;
}

.daily-temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day {
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 20px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  margin: 20px auto;
  border-radius: 20px;
  font-weight: 700;
  background-color: #7f7d7e;
}

.footer {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 15px;
  border-top: 1px solid #545253;
}

.footer p {
  font-size: 13px;
  text-align: center;
}

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
